.carousel-track{
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
    transform: translate3d(0, 0, 0);
}
.carousel-track::-webkit-scrollbar {
    display: none;
}

button{
    background-color: black;
    color: aliceblue;
    cursor:pointer;
    padding: 6px 4px;
    border-radius: 4px;
}
